{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "extends": "google",
  "rules": {
    "no-var": "off",
    "max-len": [2, {
      "code": 100,
      "tabWidth": 2,
      "ignoreUrls": true
    }]
  }
}
