os: osx
addons:
  chrome: stable
  firefox: "57.0"
language: node_js
node_js:
  - "8"
  - "10"
cache:
  directories:
    - "$HOME/.npm"
    - ~/.selenium-assistant
before_install:
  - npm i -g npm@latest
install: npm ci
script:
  - npm test
  - npm run sauce
